[Unit]
Description=Demo Service

[Service]
User=root
WorkingDirectory=/opt/demo/
ExecStart=/usr/bin/java -Xmx256m -jar employee-1.0.0-SNAPSHOT.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target